In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
granola = pd.read_csv('granola.csv')

In [3]:
granola

              Brand  Price  Sugar_ per_serving Made_bestsellers_list?
0              KIND   6.99                  10                    Yes
1         Paleonola   6.29                  12                    Yes
2    Natures_Valley   4.99                  22                     No
3  Purely_Elizabeth   6.50                  17                    Yes
4             Kashi   6.75                  16                     No
5    Cascadian Farm   5.99                  24                     No
6            Quaker   6.25                  28                     No

In [4]:
dfmade = pd.DataFrame(columns=['Made'])

In [5]:
df = pd.DataFrame(granola)
df = df.rename(columns={'Sugar_ per_serving': 'Sugar_per_serving',
                        'Made_bestsellers_list?': 'Made_bestsellers_list'})
df['Made_bestsellers_list'] = df['Made_bestsellers_list'].replace(['Yes','No'],[True,False])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Brand                  7 non-null      object
 1   Price                  7 non-null      float64
 2   Sugar_per_serving      7 non-null      int64
 3   Made_bestsellers_list  7 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 303.0+ bytes

In [6]:
compare = df[(df['Brand'] == 'KIND') | (df['Brand'] == "Natures_Valley")]
compare.iloc[:,2]

0    10
2    22
Name: Sugar_per_serving, dtype: int64

In [7]:
x1 = compare.Price[0]
x2 =compare.Price[2]
y1 = compare.Sugar_per_serving[0]
y2 = compare.Sugar_per_serving[2]
np.abs(x1-x2)+np.abs(y1-y2)

14.0

In [8]:
np.sqrt((x1-x2)**2 + (y1-y2)**2).round(2)

12.17

In [9]:
new_granolas = {'Brand': ['One Degree','Coconola'],
                'Price': [6.49, 6.79],
                'Sugar_per_serving': [20, 11],
                'Made_bestsellers_list': ['?','?']}
df2 = pd.DataFrame(new_granolas)

In [10]:
df3 = df.append(df2, ignore_index = True)
df3

/var/folders/h4/nhpv2v310dv7jcrwkvcc83c00000gn/T/ipykernel_3199/4044990396.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df.append(df2, ignore_index = True)

              Brand  Price  Sugar_per_serving Made_bestsellers_list
0              KIND   6.99                 10                  True
1         Paleonola   6.29                 12                  True
2    Natures_Valley   4.99                 22                 False
3  Purely_Elizabeth   6.50                 17                  True
4             Kashi   6.75                 16                 False
5    Cascadian Farm   5.99                 24                 False
6            Quaker   6.25                 28                 False
7        One Degree   6.49                 20                     ?
8          Coconola   6.79                 11                     ?

**Train Test Split**

In [11]:
X = np.array(df[['Price','Sugar_per_serving'][0]].astype(float))
X = X.reshape(-1,1)
y = np.array(df['Made_bestsellers_list'])
X

array([[6.99],
       [6.29],
       [4.99],
       [6.5 ],
       [6.75],
       [5.99],
       [6.25]])

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y
                                                    ,stratify = y # stratification 
                                                    ,random_state = 2 # for reproducibility
                                                    ,test_size = 0.3)

In [13]:
print("There are total of {} 1's in the `y_train` array".format(y_train[y_train == 1].shape[0]))
print("There are total of {} 0's in the `y_train` array".format(y_train[y_train == 0].shape[0]))

There are total of 2 1's in the `y_train` array
There are total of 2 0's in the `y_train` array

In [14]:
print("The ratio of 1 and 0 in train set is {:.3f}".format(y_train[y_train == 0].shape[0]/y_train[y_train == 1].shape[0]))

The ratio of 1 and 0 in train set is 1.000

In [15]:
print("The ratio of 1 and 0 in test set is {:.3f}".format(y_test[y_test == 0].shape[0]/y_test[y_test == 1].shape[0]))

The ratio of 1 and 0 in test set is 2.000

**Building the Model**

In [16]:
# build the model
clf = KNeighborsClassifier(n_neighbors=3,p=1)

# fit the model 
clf.fit(X_train, y_train)

# record training set accuracy
print(clf.score(X_train, y_train))

# record test accuracy
print(clf.score(X_test, y_test))

0.75
0.6666666666666666

In [17]:
predict = clf.predict(X)

#predict = pd.DataFrame(predict)
clf.score(X, predict)
#predict
#predict.reshape(-1,1)
#pd.concat(predict[['predict']])

1.0

In [18]:
df4=pd.DataFrame(df['Brand'])
df4['Made_bestsellers_list']= df['Made_bestsellers_list']
df4['Prediction'] = predict
df4

              Brand  Made_bestsellers_list  Prediction
0              KIND                   True        True
1         Paleonola                   True       False
2    Natures_Valley                  False       False
3  Purely_Elizabeth                   True        True
4             Kashi                  False        True
5    Cascadian Farm                  False       False
6            Quaker                  False       False

In [19]:
X = np.array(df3[['Price','Sugar_per_serving'][0]].astype(float))
X = X.reshape(-1,1)

In [20]:
predict = clf.predict(X)

In [21]:
df5=pd.DataFrame(df3['Brand'])
df5['Made_bestsellers_list']= df3['Made_bestsellers_list']
df5['Prediction'] = predict
df5

              Brand Made_bestsellers_list  Prediction
0              KIND                  True        True
1         Paleonola                  True       False
2    Natures_Valley                 False       False
3  Purely_Elizabeth                  True        True
4             Kashi                 False        True
5    Cascadian Farm                 False       False
6            Quaker                 False       False
7        One Degree                     ?       False
8          Coconola                     ?        True